
.card{
    border: 1px solid;
    border-radius: 15px;
    width: 14rem;
    /* display: flex; */
    text-align: center;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: center ; */
    font-size: 1rem;
    /* padding: 0rem 1rem; */
    background-color: #fff;
    color: black;
    margin: 1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

#root{
    width: 100vw;
    text-align: center;
}

.price{
    background-color: rgb(224, 201, 117);
    /* padding: 0; */
    position: relative;
    height: 3rem;
    margin-bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    /* bottom: 0;top: 1rem; */
}