* {
  padding: 0;
  margin: 0;
  border: none;
  color: #000;
}

header {
  background-color: #969696;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

footer {
  background-color: #969696;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

section {
  background-color: #ffffff;
  height: 40rem;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 15rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #969696;
  padding: 1rem;
}

.heart {
  /* text-align: en; */
  width: 100%;
  /* background-color: #7e7171; */
  display: flex;
  /* align-items: end; */
  justify-content: end;
  font-size: 2rem;
  /* padding: 0 0.5rem; */
}

.toggle {
  height: 1rem;
  width: 3rem;
  border: 3px solid rgb(0, 0, 0);
}

button {
  margin: 1rem;
  padding: 0.3rem;
}
input {
  border: 1px solid grey;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background-color: #969696;
  border-radius: 1rem;
  height: 20rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
